body {
    background-color: #CBF6FF;
}

#container {
    width: 100%;
    margin: auto;
    text-align: center;
}


#heading {
    text-align: center;
    padding: 20px;
}

input {
    border-color: #0000A0;
    margin: 10px;
    width: 200px;
    height: 25px;
    border-radius: 5px;
}

.textarea {
    height: 100px;
}


.submit {
    background-color: white;
    border-radius: 5px;
    width: 100px;
}
